/*genral setting */
*{
    margin:0;
    pading:0;
    box-sizig:border-box;
    font-family:'poppins',sans-serif;
}



/* body styling*/

body{
    background-color: #ffffff;
    colour: white;
    text-align: center;
}

/* heading styling*/
header{
    background-color: rgb(43, 118, 50);
    position:static;
    width: 100%;
    top:0;
    left:0;
    z-index: 10;
    padding:50px;
}

/nav styling/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    pading :0 20px;


}
 .logo{
     color:Yellow;
     font-size: 1.5rem;
     font-weight: bold;

 }

 nav ul{
    list-style-type:none;
    display: flex;
 }
 nav ul li{
    margin:0 10px;

 }
 nav ul li a{
    color: beige;
    text-decoration: wavy;
    font-size: 16px;

 }
 nav ul li a:hover{
    color:rgb(0, 0, 0);

 }
 #home{
    background: linear-gradient(#fffcfc,ffffff);
    color:rgb(255, 255, 255);
    pading: 120px;

 }
 .profile picture{
    width:120px;
    height:120px;
    border-radius: 50;
    border:3px soliid rgb(255, 255, 255);
    margin-bottom: 15px;

 }
   h1{
    font-size:2 rem;

   }
   p{
    font-size:1.1 rem;

   }
   .btn{
    display:inline-block;
    background: rgb(43,118,50);
    color:#efecec;
   text-decoration: none;
   padding: 10px;
   border-radius:5px;
   font-size: 1 rem;
   margin-bottom:50px;

   }
   .btn:hover{
    background:black;
   }
   #about,#skill,#project,#contract{
    padding:50px 20px;
   }
   h2{
    font-size: 2 rem;
    margin-bottom:10px;
   }
   .skill{
    width: 80%;
    max-width: 400px;
    margin:auto;
    margin-bottom: 15px;

   }
   .progress{
      background: #008d21;
      height:10px;
      border-radius: 5px;
      overflow: hidden;
   }
   .progress-bar{
      background: #106800;
      height:100%;
      transition: width 1s;
   }
   .project-container{
       display:flex;
       justify-content: center;
       flex-wrap: wrap;
       text-align: center;
       padding: 20px;
        }
   .project-card{
       background: white;
       padding: 20px;
       border-radius: 8px;
       width: 300px;
       box-shadow: 0 10px 10px rgb(50,50,50);
       transition: transform 0.3s ease-in-out 1s;
   }
   .project-card:hover{
       transform:translateY(-3px);
       transform: rotate(360deg);
       
   }
   .project-card img{
       width:100%;
       border-radius: 5px;
   }
   .project-card h3{
       margin: 10px;
   }
   /*contact form*/
   form{
       display: flex;
       flex-direction: column;
       width:80%;
       max-width: 400px;
       margin: auto;
   }
   input,textarea {
       padding: 20px;
       margin-bottom: 10px;
       border-radius:10px;
       border-color:black;
   }
   button{
       background: black;
       color:white;
       padding: 10px;
       border-radius: 10px;
   }
   button:hover {
       background:red;
   }
   footer{
       background-color:grey;
       padding: 30px;
       border-radius: 30px;
       border-color: black;
   }